<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

  <title>History</title>
  <style>body {
    background-image: url(https://www.teahub.io/photos/full/282-2820540_background-image-for-html-page.jpg);
}
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      
    }</style>
</head>
<body> 
</body>
</html>
{% extends 'layout.html' %}

{% block title %}
{% endblock %}
{% block content %}
<h1>URL Shortener History</h1>

    <table>
      <thead>
        <tr>
          <th>Original URL</th>
          <th>Short URL</th>
        </tr>
      </thead>
      <tbody>
        {% for url in urls %}
          <tr>
            <td>{{ url.original_url }}</td>
            <td><a href="{{ url.short_url }}">{{ url.short_url }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}